div[class*="histre-highlight"],
span[class*="histre-highlight"] {
    display: initial !important;
    box-sizing: border-box !important;
    position: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: initial !important;
    height: initial !important;
}

mark[class*="histre-highlight"] {
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #0f0f0f !important;
}

div.histre-highlight-menu {
    position: absolute !important;
    display: none !important;
    z-index: 10000 !important;
    background-color: white !important;
    font-size: 12px !important;
    padding: 8px 8px 4px 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
    height: 32px !important;
}

.histre-highlight-menu.histre-highlight-menu--active {
    display: block !important;
}

.histre-highlight-menu .histre-highlight-menu-arrowClip {
    position: absolute !important;
    bottom: -10px !important;
    left: 50% !important;
    clip: rect(10px 20px 20px 0) !important;
    margin-left: -10px !important;
}

.histre-highlight-menu--bottom .histre-highlight-menu-arrowClip {
    top: -10px !important;
    clip: rect(0px 20px 10px 0px) !important;
}

.histre-highlight-menu .histre-highlight-menu-arrowClip .histre-highlight-menu-arrow {
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border:1px solid #777 !important;
    transform: rotate(45deg) scale(.5) !important;
}

div.histre-highlight-button {
    display: inline-block !important;
    cursor: pointer !important;
    width: 16px !important;
    height: 16px !important;
    margin: 0 4px !important;
    border-radius: 0 !important;
}

/* paster colors : https://www.color-hex.com/color-palette/5361 */

:root {
    --histre-color-yellow:#ffffba;
    --histre-color-orange:#ffdfba;
    --histre-color-green:#baffc9;
    --histre-color-blue:#bae1ff;
    --histre-color-red:#ffb3ba;
    --histre-color-purple:#e6cfff;

    --histre-color-yellow-dark:#e0e052;
    --histre-color-orange-dark:#fdc789;
    --histre-color-green-dark:#81fd9c;
    --histre-color-blue-dark:#7ec4fa;
    --histre-color-red-dark:#fc7d89;
    --histre-color-purple-dark:#bb82f8;
}

/* For marks */
.histre-highlight-color-yellow {
    background-color: var(--histre-color-yellow) !important;
}

.histre-highlight-color-twitter {
    background-color: var(--histre-color-yellow) !important;
}

.histre-highlight-color-orange {
    background-color: var(--histre-color-orange) !important;
}

.histre-highlight-color-green {
    background-color: var(--histre-color-green) !important;
}

.histre-highlight-color-blue {
    background-color: var(--histre-color-blue) !important;
}

.histre-highlight-color-red {
    background-color: var(--histre-color-red) !important;
}

.histre-highlight-color-purple {
    background-color: var(--histre-color-purple) !important;
}

/* For buttons */
#histre-highlight-yellow {
    background-color: var(--histre-color-yellow) !important;
    border: 1px solid var(--histre-color-yellow-dark) !important;
}

#histre-highlight-orange {
    background-color: var(--histre-color-orange) !important;
    border: 1px solid var(--histre-color-orange-dark) !important;
}

#histre-highlight-green {
    background-color: var(--histre-color-green) !important;
    border: 1px solid var(--histre-color-green-dark) !important;
}

#histre-highlight-blue {
    background-color: var(--histre-color-blue) !important;
    border: 1px solid var(--histre-color-blue-dark) !important;
}

#histre-highlight-red {
    background-color: var(--histre-color-red) !important;
    border: 1px solid var(--histre-color-red-dark) !important;
}

#histre-highlight-purple {
    background-color: var(--histre-color-purple) !important;
    border: 1px solid var(--histre-color-purple-dark) !important;
}

#histre-highlight-info {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>') !important;
    background-repeat: no-repeat !important;
    background-size: 16px !important;
}

#histre-highlight-tweet {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23747474" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>') !important;
    background-repeat: no-repeat !important;
    background-size: 16px !important;
}

#histre-highlight-copy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23747474' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v4M8 4H6a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-2'/%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M21 14H11m4-4l-4 4l4 4'/%3E%3C/g%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}

#histre-highlight-delete {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23747474' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 6h18m-2 0v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m-6 5v6m4-6v6'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}

#histre-highlight-toast {
    visibility: hidden !important;
    min-width: 250px !important;
    margin: 0 !important;
    margin-left: -125px !important;
    background-color: var(--histre-color-green) !important;
    color: #0f0f0f !important;
    text-align: center !important;
    border: 1px solid var(--histre-color-green-dark) !important;
    border-radius: 2px !important;
    padding: 16px !important;
    position: fixed !important;
    z-index: 10000 !important;
    /* Animation doesn't work if marked !important */
    left: 50%;
    bottom: 30px;
}

#histre-highlight-toast.show {
    visibility: visible !important;
    animation: histre-highlight-toast-fadein 0.5s, histre-highlight-toast-fadeout 0.5s 2.6s;
}

@keyframes histre-highlight-toast-fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes histre-highlight-toast-fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
