.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 1.9rem;
  position: relative;
  bottom: 3px;
}

.logo-hr {
  color: var(--bs-red);
  width: 4.3rem;
  margin-inline: auto;
}

section {
  max-width: 61ch;
  width: 100%;
}

.last-paragraph {
  margin-bottom: 1.6rem;
}

.home-checklist {
  list-style: none;
  padding-left: 1.4rem;
}

.home-checklist li {
  margin-bottom: 0.375rem;
}

.home-checklist i.fe {
  margin-right: 0.5rem;
}
