:root {
  --main-section-width: 58ch;
}

.page-title {
  max-width: var(--main-section-width);
  margin-inline: auto;
}

@media (min-width: 992px) {
  .page-title {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-left: 250px; /*? navbar width */
  }
}

.status-message {
  position: absolute;
  top: 3.78125rem;  /*? navbar height */
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .status-message {
    top: 0;
    left: 250px;  /*? navbar width */
  }
}

.main-section {
  max-width: var(--main-section-width);
}

.main-section:not(:last-of-type) {
  position: fixed;
  top: 3.8125rem; /*? title height */
  bottom: 0;
  overflow: auto;
}

.main-section ~ .detail-section {
  margin-left: calc(var(--main-section-width) + 1ch);
}

.detail-section {
  max-width: 76ch;
}

[data-open-section] {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .active {
    border-color: var(--border-hover-color-dark);
  }
}

#navbar .logo {
  gap: 0.28rem;
  text-align: left;
  display: flex;
  align-items: center;
  color: var(--logo-color);
  transition: color var(--base-transition);
}

#navbar .logo:hover {
  color: var(--logo-hover-color);
}

#navbar .logo svg {
  position: relative;
  bottom: 0.15rem;
  width: 1.725rem;
}

#navbar .logo h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* Modal */

.micromodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.micromodal.is-open {
  display: block;
}

.micromodal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.micromodal-container {
  padding-block: 2rem;
}

.micromodal-content {
  max-height: calc(100vh - 3rem);
  max-width: calc(100vw - 1.5rem);
  background-color: var(--bs-white);
  overflow-y: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.micromodal[aria-hidden="false"] .micromodal-overlay,
.micromodal[aria-hidden="false"] .micromodal-container {
  animation: fadeIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal[aria-hidden="true"] .micromodal-overlay,
.micromodal[aria-hidden="true"] .micromodal-container {
  animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
}
