html {
    height: auto !important;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    background: white;
    font-size: 16px;
}

#popup-wrap {
    position: relative;
    max-width:480px;
    min-height: 415px;
}

.navbtn {
    padding:4px;
    cursor:pointer;
    margin-bottom:16px;
    margin-right:16px;
}

#topbar {
}

.topbar-col {
    margin-bottom:28px;
    background-color:#f9fbfd;
    position:relative;
}

.topbar-col-title {
    border-bottom:1px solid #e3ebf6;
    padding:16px 0 15px 0;
}

.topbar-col-nav {
}

.popup-placeholder {
    overflow: hidden;
    height: 25.9375rem;
}

.popup-placeholder #restofit * {
    visibility: hidden;
}

.note-placeholder {
    height: 18.75rem;
}

.note-placeholder *:not(#note-error) {
    display: none;
}

.loading-spinner {
    position: absolute;
    top: 52%;
    left: 48%;
}

.auth-error {
    position: absolute;
    top: 41%;
    left: 0;
    right: 0;
    text-align: center;
}

.btn-login {
    width: 3rem;
    box-sizing: initial;
}

.note-error {
    position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    text-align: center;
}

#restofit {
    padding:0 16px;
}

#nav-settings {
    cursor:pointer;
    margin-left:5px;
    color:#6b81a1;
}

#notes-txt {
    width:90%;
    height:60px;
    padding:4px;
    overflow:hidden;
    box-sizing: border-box;
}

#notes-msg {
    box-sizing: border-box;
    padding: 8px 0;
    font-size: 14px;
    height: 36px;
    color: #666;
    text-align:center;
}

#editor-container {
    margin-bottom: 14px;
}

#editor-wrap {
    position:relative;
}

#editor {
    min-height:80px;
}

.hide {
    display:none;
}

/* suggested tags - begin */

#suggested-tags-wrap {
    position:absolute;
    bottom:0;
    left: 1px;
    right: 1px;
    border-top:1px solid #eee;
    height:44px;
    text-align:right;
    font-size:14px !important;
    padding:10px 16px;
}

.suggested-tags {
    height:44px;
    white-space:nowrap;
    overflow:hidden;
}

.suggested-tags-text {
    display:inline-block;
    padding-right:12px;
    color:#b5c4da;
}

.suggested-tag {
    display:inline-block;
    margin-right:8px;
    margin-bottom:4px;
    color:#6e84a3;
    cursor: pointer;
}

/* suggested tags - end */

#settings {
    margin-top:8px;
    margin-bottom:8px;
    color:#666;
}

#settings .hint {
    color:#999;
    font-size:0.85em;
    margin:8px 0;
}

.logitem {
    margin: 8px 0px;
}

.popup-sec-title {
    margin-bottom:8px;
    font-size:14px;
}

.sec-title {
    color:#444;
}

.sec-title > .help {
    color:#777;
    font-size:80%;
    margin-top:8px;
}

/* ------------ rounded switch : begin ------------ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------ rounded switch : end ------------ */

#account-switch-loading {
    color:#999;
    font-size:0.8em;
}

.errmsg {
    color:red;
    font-size:16px;;
}

.errmsg a {
    color:red;
    text-decoration:underline;
}

.addressable-msg {
    color:green;
    font-size:16px;;
}

.addressable-msg a {
    color:green;
    text-decoration:underline;
}

.logitem .lbl {
    min-width:100px;
    display:inline-block;
}

.loggingmsg {
    color:#999;
}

#save-close-wrap {
    text-align:right;
    padding-bottom:12px;
}

#web-history-logging-title {
    margin-top:0.75em;
    border-top:1px solid #ddd;
    padding-top:0.75em;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 17px;
    gap: 3px;
    text-align: left;
    color: var(--logo-color);
    transition: color var(--base-transition);
}

.logo:hover {
    color: var(--logo-hover-color);
}

.logo svg {
    position: relative;
    bottom: 3px;
    width: 27px;
}

.logo h1 {
    font-size: 24px;
    margin-bottom: 0;
}

.icon {
    font-size:20px;
}

.ql-container.ql-snow {
    border:none !important;
}

#notes-debug {
    font-size:12px;
    color:#777;
    text-align:center;
}

.nav-item-contents {
    width:90px;
    position:relative;
}

.nav-link-icon {
    width:24px;
    display:inline-block;
}

.nav-link-txt {
    display:inline-block;
    position:absolute;
    bottom:26px;
}

.ql-editor {
    min-height:140px;
    padding-bottom:48px;
}

#savetabs-img {
    width:100%;
}

#do-save-tabs-wrap {
    text-align:left;
}

.recent-books-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.recent-books-header:hover > .btn.btn-outline-secondary:not([data-histre-add-to-book-for]) {
    background-color: #6e84a3;
    border-color: #6e84a3;
    color: #fff;
}

.btn.btn-outline-secondary[data-histre-add-to-book-for]:hover ~ .btn.btn-outline-secondary:not([data-histre-add-to-book-for]) {
    background-color: transparent;
    border-color: #d2ddec;
    color: #6e84a3;
}

.recent-books-toggle-text {
    margin-left: 9px;
    margin-right: auto;
    font-size: 14px;
}

.recent-books-toggle-text span {
    font-size: 12px;
    color: #95aac9;
}

.recent-books-header .btn[data-histre-add-to-book-for="search"] {
    margin-right: 0.375rem;
}

.recent-books-body {
    margin-left: 41px;
}

.recent-books-search {
    display: none;
}

.recent-books-search-input {
    width: 313px;
}

.recent-books-search-text {
    font-size: 12px;
}

.book-check-wrap {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    align-items: center;
    cursor: pointer;
    color: #95aac9;
    font-size: 15px;
}

.book-check-wrap .fe-check-circle {
    color: var(--bs-primary);
}

.book-check-wrap--create {
    cursor: default;
    display: none;
    margin-top: 0.375rem;
}

.book-check-wrap--create .fe-check,
.book-check-wrap--create .fe-x {
    cursor: pointer;
}

.book-check-wrap--create .fe-check {
    margin-left: 0.55rem;
    margin-right: 0.55rem;
}

.book-access {
    margin-left: 0.8125rem;
    margin-right: 0.375rem;
}

.recent-books-books {
    margin-top: 0.375rem;
}

.book-wrap {
    margin-bottom: 6px;
}

.book-name {
    padding-right: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bs-body-color);
}

.book-icon {
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background-color: currentColor;
}

.book-icon--copy {
    mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
    -webkit-mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
    margin-right: 0.55rem;
}

.book-icon--copy-check {
    mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
    -webkit-mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
    margin-right: 0.55rem;
    background-color: var(--bs-success);
}

.book-info {
    margin-left: 3.0625rem;
    font-size: 0.75rem;
    color: var(--secondary-text-color-dark);
}

.recent-books-show-more-chevrons {
    position: relative;
    top: 2px;
    left: 3px;
}

#highlights-title {
    margin-top:0.75em;
    border-top:1px solid #ddd;
    padding-top:0.75em;
}

.extracted-data-table {
    margin-top: 8px;
    width:100%;
}

.extracted-data-row[data-histre-delete-row] {
    background-color: var(--bs-red);
    color: var(--bs-gray-100);
}

.extracted-data-row-header {
    padding:2px 4px;
    border: 1px solid var(--border-color-dark);
    border-right:none;
    position: relative;
}

.extracted-data-row-header[data-histre-table-field-error]::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid var(--bs-red);
}

.extracted-data-row-value {
    padding:2px 4px;
    border:1px solid var(--border-color-dark);
    border-left:none;
    border-right: none;
}

.extracted-data-remove {
    display: table-cell;
    vertical-align: inherit;
    padding: 2px 4px;
    border: 1px solid var(--border-color-dark);
    border-left: none;
    color: var(--secondary-text-color);
    cursor: pointer;
    width: 17px;
}

.extracted-data-remove:hover {
    color: var(--secondary-text-hover-color);
}

.extracted-data-row[data-histre-delete-row] .extracted-data-remove {
    color: var(--bs-gray-300);
}

.extracted-data-row[data-histre-delete-row] .extracted-data-remove:hover {
    color: var(--bs-gray-100);
}

.extracted-data-new {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color-dark);
    padding: 2px 4px;
    border: 1px solid var(--border-color-dark);
    border-top: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.extracted-data-new:hover {
    color: var(--secondary-text-hover-color-dark);
}

.extracted-data-new[disabled] {
    color: var(--secondary-text-color-dark);
    cursor: default;
}

.extracted-data-new .fe {
    position: relative;
    bottom: 1px;
}

.extracted-data-table:empty + .extracted-data-new {
    border-top: 1px solid var(--border-color-dark);
}

.saving-spinner {
    position: absolute;
    bottom: 1.5rem;
    left: 0.6rem;
    color: var(--bs-gray-600);
}

.saving-info {
    position: absolute;
    bottom: 1.12rem;
    left: 0.58rem;
}

.saving-info--checkmark {
    color: var(--bs-green);
}

.saving-info--error {
    color: var(--bs-red);
}

/* Youtube timestamp - begin */

.yt-timestamp {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    border: 1px solid var(--border-color-dark);
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
    color: var(--secondary-text-color-dark);
}

.yt-timestamp:hover {
    color: var(--secondary-text-hover-color-dark);
}

.yt-timestamp .fe {
    font-size: 15px;
}

a[href^="https://www.youtube.com/watch?"]{
    cursor: pointer;
}

/* Youtube timestamp - end */
