@font-face {
  font-family: 'Cerebri Sans';
  src: url('theme/fonts/cerebrisans/cerebrisans-regular.woff');
}

/*
  Don't use rems because it might not look consistant across all sites
  e.g. If the site sets root font to 10px, so it uses rems like pixels,
  making UI look smaller in comparison to the rest of the site.
*/

/***** Reset *****/

#histre-sidebar-wrap.histre-sidebar-wrap,
#histre-sidebar-wrap * {
  font-family: inherit;
  box-sizing: border-box;
  position: initial;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: normal;
  line-height: normal;
  width: initial;
  height: initial;
  color: inherit;
  font-size: inherit;
  box-shadow: none;
}

#histre-sidebar-wrap div {
  display: block;
}

#histre-sidebar-wrap span {
  display: inline-block;
}

#histre-sidebar-wrap a {
  text-decoration: none;
  font-weight: unset;
  color: #2c7be5;
}

#histre-sidebar-wrap a:hover {
  text-decoration: none;
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-btn-group::before,
#histre-sidebar-wrap .histre-sidebar-btn-group::after,
#histre-sidebar-wrap .histre-sidebar-btn-group *::before,
#histre-sidebar-wrap .histre-sidebar-btn-group *::after {
  display: none;
}

/***** Buttons *****/

#histre-sidebar-wrap .histre-sidebar-btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #12263f;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-secondary {
  border-color: #d2ddec;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-btn-outline-secondary:hover {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-primary {
  background-color: #2c7be5;
  border-color: #2c7be5;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-primary:hover {
  background-color: #2569c3;
  border-color: #2362b7;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn-primary:disabled {
  opacity: .65;
  pointer-events: none;
}

#histre-sidebar-wrap .histre-sidebar-btn-link {
  color: #2c7be5;
}

.histre-sidebar-btn-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-btn-link--no-padding {
  padding: 0;
}

#histre-sidebar-wrap .histre-sidebar-btn-sm {
  border-radius: 4px;
  font-size: 13px;
  padding: 2px 8px;
  line-height: 1.75;
}

#histre-sidebar-wrap .histre-sidebar-btn-group {
  display: inline-flex;
  position: relative;
  height: 100%;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn {
  flex: 1 1 auto;
  position: relative;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:not(:first-child) {
  margin-left: -1px;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:nth-child(n+3) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn-check:checked + .histre-sidebar-btn,
#histre-sidebar-wrap .histre-sidebar-btn-group > .histre-sidebar-btn:hover {
  z-index: 1;
}

#histre-sidebar-wrap .histre-sidebar-btn-check {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

#histre-sidebar-wrap .histre-sidebar-btn-check:checked + .histre-sidebar-btn-outline-secondary {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

/***** Form control *****/

#histre-sidebar-wrap .histre-sidebar-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d2ddec;
  border-radius: 6px;
  color: #12263f;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}

#histre-sidebar-wrap .histre-sidebar-form-control::placeholder {
  color: #b1c2d9;
  opacity: 1;
}

#histre-sidebar-wrap .histre-sidebar-form-control:focus {
  background-color: #fff;
  border-color: #2c7be5;
  box-shadow: none;
  color: #12263f;
  outline: 0;
}

#histre-sidebar-wrap .histre-sidebar-form-control-sm {
  border-radius: 4px;
  font-size: 13px;
  min-height: 30px;
  padding: 2px 8px;
  line-height: 1.75;
}

/***** Scrollbar *****/

@supports (scrollbar-width: none) {
  /* Firefox */
  #histre-sidebar-wrap.histre-sidebar-wrap {
    scrollbar-width: none;
  }
}
@supports not (scrollbar-width: none) {
  /* Chrome */
  #histre-sidebar-wrap.histre-sidebar-wrap::-webkit-scrollbar {
    display: none;
  }
}

/***** Container *****/

#histre-sidebar-wrap.histre-sidebar-wrap {
  --histre-sidebar-width: 400px;

  position: fixed;
  display: none;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--histre-sidebar-width);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-left: 1px solid #d2ddec;
  color: #12263f;
  font-size: 16px;
  font-family: 'Cerebri Sans', sans-serif;
  z-index: 1000000;
  overflow-y: auto;
}

/***** Header *****/

#histre-sidebar-wrap .histre-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 6px;
  padding: 14px 20px;
  margin: 26px 12px 15px;
}

#histre-sidebar-wrap .histre-sidebar-control-btns-wrap {
  display: flex;
  align-items: center;
}

#histre-sidebar-wrap .histre-sidebar-control-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-control-icon:hover {
  background-color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-control-icon--not-pushed {
  mask: url(assets/sidebar/sidebar.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/sidebar.svg) no-repeat 50% 50% !important;
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-control-icon--pushed {
  mask: url(assets/sidebar/sidebar-filled.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/sidebar-filled.svg) no-repeat 50% 50% !important;
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-control-icon--close {
  mask: url(assets/sidebar/minimize.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/minimize.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-logo {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -.02em;
  line-height: 1.1;
  color: #6e84a3;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color .15s ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-logo:hover {
  color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-logo img {
  position: relative;
  bottom: 1px;
  width: 27px;
}

/***** Body *****/

#histre-sidebar-wrap .histre-sidebar-body {
  background-color: #fff;
  border-radius: 6px;
  padding: 18px 20px;
  margin: 0 12px;
}

/***** Access Levels *****/

#histre-sidebar-wrap .histre-sidebar-editor-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 29px;
  margin-bottom: 10px;
  align-items: center;
}

#histre-sidebar-wrap .histre-sidebar-access-levels {
  align-self: stretch;
}

#histre-sidebar-wrap .histre-sidebar-access-icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--private {
  mask: url(assets/sidebar/lock.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/lock.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--public {
  mask: url(assets/sidebar/globe.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/globe.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-access-icon--org {
  mask: url(assets/sidebar/users.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/users.svg) no-repeat 50% 50% !important;
}

/***** Editor *****/

#histre-sidebar-wrap .histre-sidebar-editor-wrap {
  position: relative;
}

#histre-sidebar-wrap #histre-sidebar-editor {
  position: relative;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #d2ddec !important;
  border-radius: 6px;
  color: #12263f;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  min-height: 150px;
  padding: 8px 12px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  padding-bottom: 40px;
  white-space: pre-wrap;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h1 {
  font-size: 2em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h2 {
  font-size: 1.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h3 {
  font-size: 1.17em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h4 {
  font-size: 1em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h5 {
  font-size: 0.83em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor h6 {
  font-size: 0.67em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-small {
  font-size: 0.75em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-large {
  font-size: 1.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor .ql-size-huge {
  font-size: 2.5em;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor code {
  font-size: 85%;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-editor:focus {
  border-color: #2c7be5 !important;
  outline: none;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-container {
  width: 270px;
  border: 1px solid #edf2f9;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, .08);
  z-index: 9001;
  overflow: auto;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list {
  list-style: none;
  overflow: hidden;
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item.disabled {
  cursor: auto
}

#histre-sidebar-wrap #histre-sidebar-editor .ql-mention-list-item.selected {
  background-color: #d2ddec;
  text-decoration: none
}

#histre-sidebar-wrap #histre-sidebar-editor .mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d2ddec;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all
}

#histre-sidebar-wrap #histre-sidebar-editor .mention > span {
  margin: 0 3px
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags-wrap {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  border-top: 1px solid #e3ebf6;
  height: 34px;
  padding: 6px 10px;
  z-index: 100;
  display: none;
  font-size: 13px;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags {
  white-space: nowrap;
  overflow: hidden;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tags-text {
  display: inline-block;
  padding-right: 8px;
  color: #b1c2d9;
}

#histre-sidebar-wrap .histre-sidebar-suggested-tag {
  margin-right: 8px;
  margin-bottom: 4px;
  color: #6e84a3;
  display: inline-block;
  cursor: pointer;
}

/***** Recent books *****/

#histre-sidebar-wrap .histre-sidebar-recent-books {
  display: none;
  margin-top: 14px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-header:hover > .histre-sidebar-btn.histre-sidebar-btn-outline-secondary:not([data-histre-add-to-book-for]) {
  background-color: #6e84a3;
  border-color: #6e84a3;
  color: #fff;
}

#histre-sidebar-wrap .histre-sidebar-btn.histre-sidebar-btn-outline-secondary[data-histre-add-to-book-for]:hover ~ .histre-sidebar-btn.histre-sidebar-btn-outline-secondary:not([data-histre-add-to-book-for]) {
  background-color: transparent;
  border-color: #d2ddec;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-toggle-text {
  margin-left: 9px;
  margin-right: auto;
  font-size: 14px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-toggle-text span {
  font-size: 12px;
  color: #95aac9;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-toggle {
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin: 5px 0;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--show {
  mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevron-down.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--hide {
  mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevron-up.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--search {
  mask: url(assets/sidebar/search.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/search.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-toggle-icon--create {
  mask: url(assets/sidebar/plus.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/plus.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-body {
  margin-left: 10px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search {
  margin-top: 10px;
  display: none;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-input {
  width: 90%;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-search-text {
  font-size: 12px;
}

#histre-sidebar-wrap .histre-sidebar-recent-books-books {
  margin-top: 10px;
}

#histre-sidebar-wrap .histre-sidebar-book-wrap {
  margin-bottom: 6px;
}

#histre-sidebar-wrap .histre-sidebar-book-check-wrap {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  align-items: center;
  cursor: pointer;
  color: #95aac9;
  font-size: 15px;
}

#histre-sidebar-wrap .histre-sidebar-book-check-wrap--create {
  margin-top: 10px;
  cursor: default;
  display: none;
}

#histre-sidebar-wrap .histre-sidebar-book-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--circle {
  mask: url(assets/sidebar/circle.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/circle.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--checked {
  mask: url(assets/sidebar/check-circle.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/check-circle.svg) no-repeat 50% 50% !important;
  background-color: #2c7be5;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--create-check {
  mask: url(assets/sidebar/book-create-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-create-check.svg) no-repeat 50% 50% !important;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--create-cancel {
  mask: url(assets/sidebar/book-create-x.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-create-x.svg) no-repeat 50% 50% !important;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-book-access {
  margin-left: 11px;
  margin-right: 5px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--private {
  mask: url(assets/sidebar/book-lock.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-lock.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--limited {
  mask: url(assets/sidebar/book-users.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-users.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--org {
  mask: url(assets/sidebar/book-briefcase.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-briefcase.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--public {
  mask: url(assets/sidebar/book-globe.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/book-globe.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--copy {
  mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/clipboard.svg) no-repeat 50% 50% !important;
  margin-right: 7px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--copy-check {
  mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/copy-check.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
  margin-right: 7px;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--view {
  mask: url(assets/sidebar/link.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/link.svg) no-repeat 50% 50% !important;
}

#histre-sidebar-wrap .histre-sidebar-book-name {
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #12263f;
}

#histre-sidebar-wrap .histre-sidebar-book-info {
  margin-left: 46px;
  font-size: 12px;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-book-icon--chevrons {
  mask: url(assets/sidebar/chevrons-down.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/chevrons-down.svg) no-repeat 50% 50% !important;
  background-color: currentColor;
  margin-left: 3px;
}

/***** Extracted data *****/

#histre-sidebar-wrap .histre-sidebar-extracted-data-msg {
  text-align: center;
  font-size: 14px;
  display: none;
  margin: 16px 0;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-try-again {
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-try-again:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-table {
  display: table;
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row {
  display: table-row;
  vertical-align: middle;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row[data-histre-delete-row] {
  background-color: #e63757;
  color: #f9fbfd;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row-header {
  position: relative;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-right: none;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: left;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row-header[data-histre-table-field-error]::before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid #e63757;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row-value {
  display: table-cell;
  vertical-align: inherit;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-left: none;
  border-right: none;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-remove {
  display: table-cell;
  vertical-align: inherit;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-left: none;
  color: #6e84a3;
  cursor: pointer;
  width: 17px;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row[data-histre-delete-row] .histre-sidebar-extracted-data-remove {
  color: #e3ebf6;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-row[data-histre-delete-row] .histre-sidebar-extracted-data-remove:hover {
  color: #f9fbfd;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-remove:hover {
  color: #3b506c;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon--x {
  mask: url(assets/sidebar/table-x.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/table-x.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-icon--plus {
  mask: url(assets/sidebar/table-plus.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/sidebar/table-plus.svg) no-repeat 50% 50%;
  position: relative;
  bottom: 1px;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  color: #6e84a3;
  padding: 2px 4px;
  border: 1px solid #d2ddec;
  border-top: none;
  margin-bottom: 10px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new:hover {
  color: #283e59;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-new[disabled] {
  color: #6e84a3;
  cursor: default;
}

#histre-sidebar-wrap .histre-sidebar-extracted-data-table:empty + .histre-sidebar-extracted-data-new {
  border-top: 1px solid #d2ddec;
}

/***** Saving info container *****/

#histre-sidebar-wrap .histre-sidebar-saving-info-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

/***** Vote UI *****/

#histre-sidebar-wrap .histre-sidebar-vote-ui {
  display: inline-flex;
  margin-right: 3px;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon {
  background-color: #6e84a3;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon:hover {
  background-color: #3b506c;
  transition: background-color 150ms ease-in-out;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up {
  mask: url(assets/inline/thumbs-up.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-up.svg) no-repeat 50% 50%;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--down {
  mask: url(assets/inline/thumbs-down.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-down.svg) no-repeat 50% 50%;
  margin-left: 5px;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up-sel {
  mask: url(assets/inline/thumbs-up-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-up-filled.svg) no-repeat 50% 50%;
  background-color: #fd7e14;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--up-sel:hover {
  background-color: #fd7e14;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--down-sel {
  mask: url(assets/inline/thumbs-down-filled.svg) no-repeat 50% 50%;
  -webkit-mask: url(assets/inline/thumbs-down-filled.svg) no-repeat 50% 50%;
  background-color: #2c7be5;
}

#histre-sidebar-wrap .histre-sidebar-vote-icon--down-sel:hover {
  background-color: #2c7be5;
}

/***** Save info *****/

#histre-sidebar-wrap .histre-sidebar-spinner {
  position: absolute;
  left: 2px;
  top: 0;
  animation: histre-sidebar-spinner-border .75s linear infinite;
  border: 0.2em solid;
  border-radius: 50%;
  border-right: 0.25em solid transparent;
  display: none;
  height: 16px;
  vertical-align: -0.125em;
  width: 16px;
  color: #6e84a3;
}

@keyframes histre-sidebar-spinner-border {
  to { transform: rotate(360deg); }
}

#histre-sidebar-wrap .histre-sidebar-status {
  display: none;
  position: absolute;
  left: 2px;
  top: 0;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

#histre-sidebar-wrap .histre-sidebar-status--checkmark {
  mask: url(assets/sidebar/checkmark.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/checkmark.svg) no-repeat 50% 50% !important;
  background-color: #27aa78;
}

#histre-sidebar-wrap .histre-sidebar-status--alert {
  mask: url(assets/sidebar/alert.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/alert.svg) no-repeat 50% 50% !important;
  background-color: #e63757;
}

/***** Status message *****/

#histre-sidebar-wrap .histre-sidebar-status-msg {
  display: none;
  margin-top: 16px;
}

#histre-sidebar-wrap .histre-sidebar-status-msg--error {
  color: #e63757;
}

#histre-sidebar-wrap .histre-sidebar-auth-histre-link {
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-auth-histre-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-auth-try-again {
  color: #2c7be5;
  cursor: pointer;
}

/***** Footer *****/

#histre-sidebar-wrap .histre-sidebar-footer {
  background-color: #fff;
  border-radius: 6px;
  padding: 8px 20px;
  margin: auto 12px 16px;
  font-size: 11px;
  line-height: 1.4;
  color: #95aac9;
}

#histre-sidebar-wrap .histre-sidebar-mail-link {
  display: inline-block;
  color: #2c7be5;
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-mail-link:hover {
  color: #1657af;
}

#histre-sidebar-wrap .histre-sidebar-auth-try-again:hover {
  color: #1657af;
}

/***** Youtube timestamp *****/

#histre-sidebar-wrap .histre-sidebar-yt-timestamp {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid #d2ddec;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  color: #6e84a3;
}

#histre-sidebar-wrap .histre-sidebar-yt-timestamp:hover {
  color: #283e59;
}

#histre-sidebar-wrap a[href^="https://www.youtube.com/watch?"]{
  cursor: pointer;
}

#histre-sidebar-wrap .histre-sidebar-yt-timeline-icon {
  background-color: currentColor;
  width: 15px;
  height: 15px;
  cursor: pointer;
  mask: url(assets/sidebar/yt-timeline.svg) no-repeat 50% 50% !important;
  -webkit-mask: url(assets/sidebar/yt-timeline.svg) no-repeat 50% 50% !important;
}
